.app {
  padding: 30px;
}
.headingText{
  text-transform: uppercase;
  font-size: 50px;
	background: linear-gradient(to left, rgb(243, 206, 40) 0%, #f70b0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	

}
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
